@model List<Ad>
@{
    ViewData["Title"] = "İlan Onayla";
}
<h3 class="mb-4">İlan Onayla</h3>

@if (Model.Count == 0)
{
     <div class="alert alert-warning" role="alert">
        Henüz onaylanmayı bekleyen ilan yok.
    </div>
}
else
{
    <table class="table" style="width: 1300px;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ürün Görseli</th>
                    <th scope="col">Ürün Adı</th>
                    <th scope="col">Satıcı Adı</th>
                    <th scope="col">Detay</th>
                    <th scope="col">Fiyat</th>
                    <th scope="col">Eklenme Tarihi</th>
                    <th scope="col">Düzenle</th>
                </tr>
            </thead>
        <tbody>
            @{
                var count = 1;
            }
            @foreach (var ad in Model)
            {
                <tr>
                    <th scope="row" style="vertical-align: middle;">@count</th>
                    <td style="vertical-align: middle;">
                        <img src="@ad.ImageUrl" style="width: 200px; height: 125px; vertical-align: middle;" />
                    </td>
                    <td style="vertical-align: middle;">@ad.Name</td>
                    <td style="vertical-align: middle;">@ad.sellerName</td>
                    <td style="vertical-align: middle;">@ad.Detail</td>
                    <td style="vertical-align: middle;">@ad.Price.ToString("N") TL</td>
                    <td style="vertical-align: middle;">@ad.CreateDate.ToString("dd MMMM yyyy HH:mm")</td>
                    <td style="vertical-align: middle;">
                        <a href="/admin/approved/@ad.Id" class="btn btn-primary">Onayla</a>
                        <a href="/admin/unapproved/@ad.Id" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
    
}